@model ClientViewModel
@using Humanizer

@{
ViewData["Title"] = "Busqueda de Cliente";
}

<div class="panel panel-default todo-panel">
<div class="panel-heading">@ViewData["Title"]</div>
<table class="table table-hover">
<thead>
<tr>
<td>Ver</td>
<td>Nombre</td>
<td>Apellido</td>
<td>Fecha de Alta</td>
</tr>
</thead>
@foreach (var Client in Model.Clients)
{
<tr> 
<td><button class="btn btn-default glyphicon glyphicon-search" type="button"></button></td>
<td>@Client.Name</td>
<td>@Client.Lastname</td>
<td>@Client.Date.ToString("dd/mm/yyyy")</td>
</tr>
}
</table>
<div class="panel-footer add-item-form">
<!-- TODO: Add item form -->
</div>
</div>

