@model Client

<form asp-action="Index" method="POST">
    <label asp-for="Document">Documento:</label>
    <input asp-for="Document" type="text" placeholder="Ingrese un documento" value="">
    <button type="submit">Buscar</button>
</form>