@model MovementViewModel
<form asp-action="../Movements/Deposit" method="POST">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Depositar en cuenta</label>
    <select class="form-control" id="exampleFormControlSelect1" asp-for="MovementsType.Id" asp-items="@(new SelectList(Model.ProductTypes, "Id", "name"))"></select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Monto</label>
    <input asp-for="amount" Type="number" class="form-control" id="Importe" placeholder="Importe del Deposito">
  </div>
  <button Type="Submit" class="btn btn-dark">Depositar</button>
  <input type="hidden" asp-for="Products.Id">
</form>