<div>
<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Extraer de cuenta</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Ahorro</option>
      <option>Corriente</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Monto</label>
    <input Type="number" class="form-control" id="Importe" placeholder="Importe del Deposito">
  </div>
  <button Type="Submit" class="btn btn-dark"> Extraer </button>
</form>
</div>